In [1]:
import os
import psycopg2

In [2]:
conn = psycopg2.connect(database ='postgres', user = 'postgres', password = 'tz6MTgxObUZ62MNv0xgp', host = 'mydishdb-dev.c3und8sjo4p2.us-east-2.rds.amazonaws.com', port = '5432')

In [3]:
# conn = psycopg2.connect(database ='postgres', user = 'mydish', password = 'tz6MTgxObUZ62MNv0xgp', host = 'mydishdb-prod.c3und8sjo4p2.us-east-2.rds.amazonaws.com', port = '5432')

Review existing tables

In [4]:
cursor = conn.cursor()

cursor.execute("""SELECT table_name FROM information_schema.tables WHERE table_schema='public'
ORDER BY table_schema, table_name;
""")

table_list = cursor.fetchall()

cursor.close()

table_list

[('ds_full_ingr',),
 ('ds_full_step',),
 ('ds_plain_step',),
 ('ds_vision_block',),
 ('ds_vision_parsed',),
 ('ds_vision_return',)]

In [5]:
tables_dict = {}

for i in table_list:

    cursor = conn.cursor()

    table_name = i[0]
    query = f"""SELECT column_name FROM information_schema.columns WHERE TABLE_NAME = '{table_name}';"""
    cursor.execute(query)

    temp_schema = cursor.fetchall()

    cursor.close()

    tables_dict[i] = temp_schema

for key in tables_dict:
    
    print(f'{key[0]}\n-----')
    
    for val in tables_dict[key]:
        print(val[0])
        
    print('\n')

ds_full_ingr
-----
id
secondary_id
info_source
ingr_amount
ingr_unit
ingr_name


ds_full_step
-----
id
recipe_version_id
ds_vision_return_id
step_order
action


ds_plain_step
-----
id
recipe_version_id
ds_vision_return_id
step_order
instr_text


ds_vision_block
-----
id
ds_vision_return_id
model_assignment
user_assignment
dev_assignment


ds_vision_parsed
-----
id
ds_vision_return_id
title
total_ingr
total_steps


ds_vision_return
-----
id
img_link
raw_return
total_blocks

In [6]:
cursor = conn.cursor()

cursor.execute("""SELECT column_name FROM information_schema.columns WHERE TABLE_NAME = 'ds_vision_return';""")

results = cursor.fetchall()
cursor.close()
results

[('id',), ('img_link',), ('raw_return',), ('total_blocks',)]

Delete Tables

In [7]:
for table in table_list:

    cursor = conn.cursor()

    cursor.execute(f"""DROP TABLE {table[0]};""")

    cursor.close()

Create Tables

In [8]:
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE ds_vision_return
    (
        id INT PRIMARY KEY,
        img_link VARCHAR,
        raw_return VARCHAR,
        total_blocks INT
    );
""")

cursor.close()

In [9]:
cursor = conn.cursor()

# a table of blocks from all vision returned recipes
# some blocks may be only part of a full ingredient, or part of an instruction
# turth values may need to be assigned by data engineers if users want to -
# modify recipe as its approved or if they abandon it

cursor.execute("""
CREATE TABLE ds_vision_block
    (
        id INT PRIMARY KEY,
        ds_vision_return_id INT,
        model_assignment VARCHAR,
        user_assignment VARCHAR,
        dev_assignment VARCHAR
    );
""")

cursor.close()

In [10]:
cursor = conn.cursor()

# could also have fields for any number of ways to categorize recipe like -
# dish type (soup/sandwich, meal type (breakfast/snack), diet type (vegan, etc) 

cursor.execute("""
CREATE TABLE ds_vision_parsed
    (
        id INT PRIMARY KEY,
        ds_vision_return_id INT,
        title VARCHAR,
        total_ingr INT,
        total_steps INT
    );
""")

cursor.close()

In [11]:
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE ds_full_ingr
    (
        id INT PRIMARY KEY,
        secondary_id INT,
        info_source VARCHAR,
        ingr_amount INT,
        ingr_unit VARCHAR,
        ingr_name VARCHAR
    );
""")

cursor.close()

In [12]:
cursor = conn.cursor()

# need to think more about which id to use -
# version_id would refernce vision_return_id most likely

cursor.execute("""
CREATE TABLE ds_plain_step
    (
        id INT PRIMARY KEY,
        recipe_version_id INT,
        ds_vision_return_id INT,
        step_order INT,
        instr_text VARCHAR
    );
""")

cursor.close()

In [13]:
cursor = conn.cursor()

# half-baked -
# needs a way to reference all ingredients and mixtures used

cursor.execute("""
CREATE TABLE ds_full_step
    (
        id INT PRIMARY KEY,
        recipe_version_id INT,
        ds_vision_return_id INT,
        step_order INT,
        action VARCHAR
    );
""")

cursor.close()

In [14]:
break

SyntaxError: 'break' outside loop (<ipython-input-14-6aaf1f276005>, line 4)

Save Changes

In [ ]:
conn.commit()

In [ ]:
break

First draft DS schema

In [ ]:
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE ds_vision_return
    (
        id INT PRIMARY KEY,
        payload_dump VARCHAR,
        pred_title VARCHAR,
        pred_ingr_set VARCHAR,
        pred_instructions_set VARCHAR,
        img_link VARCHAR
    );
""")

cursor.close()

In [ ]:
def longlist(datatype):
    ingrs = ''
    for i in range(65):
        ingrs += f',\n        ingr_{i+1} {datatype}'
    return ingrs

In [ ]:
ingrs = longlist('VARCHAR')

In [ ]:
cursor = conn.cursor()
cursor.execute(f"""
CREATE TABLE ds_ingr_set_vision_parsed
    (
        id INT PRIMARY KEY,
        ds_vision_return_id INT{ingrs}
    );
""")

cursor.close()

In [ ]:
cursor = conn.cursor()
cursor.execute(f"""
CREATE TABLE ds_ingr_set_user_parsed
    (
        id INT PRIMARY KEY,
        recipe_id INT,
        ds_vision_return_id INT{ingrs}
    );
""")

cursor.close()

In [ ]:
cursor = conn.cursor()
cursor.execute(f"""
CREATE TABLE ds_unit_vision_parsed
    (
        id INT PRIMARY KEY,
        ds_vision_return_id INT{ingrs}
    );
""")

cursor.close()

In [ ]:
cursor = conn.cursor()
cursor.execute(f"""
CREATE TABLE ds_unit_user_parsed
    (
        id INT PRIMARY KEY,
        recipe_id INT,
        ds_vision_return_id INT{ingrs}
    );
""")

cursor.close()

In [ ]:
ingrs = longlist('INT')

In [ ]:
cursor = conn.cursor()

cursor.execute(f"""
CREATE TABLE ds_quantity_vision_parsed
    (
        id INT PRIMARY KEY,
        ds_vision_return_id INT{ingrs}
    );
""")

cursor.close()

In [ ]:
cursor = conn.cursor()
cursor.execute(f"""
CREATE TABLE ds_quantity_user_parsed
    (
        id INT PRIMARY KEY,
        recipe_id INT,
        ds_vision_return_id INT{ingrs}
    );
""")

cursor.close()

In [ ]:
break

Testing beanstalk API

In [ ]:
import requests
import json

In [ ]:
url = 'http://mydishingrpred.us-east-2.elasticbeanstalk.com/pred'

In [ ]:
requests.get(url)